*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a0064;

}

.container{
    width: 1500px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    perspective: 1000px;
    background-color: #2a0064;
}

.card{
    width: 350px;
    height: 500px;
    background: linear-gradient(to bottom, red, rgba(255, 166, 0, 0.023));
    transition: all 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    border-radius: 20px;
    position: relative;
}
.card img{
    position: absolute;
    width: 80%;
    transform: translateZ(100px);
}
.card .text{
    width: 100%;
    height: 100%;
    background-color: #0000006d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    position: absolute;
    transform: rotateX(90deg);
    transition: all 0.3s;
}
.card:hover .text{
    transform: rotateX(0deg) translateZ(150px);
}
.c2{
    background: linear-gradient(to bottom, #000, #2a006400);
}
